body{
  margin:0;
  font-family:Arial;
  background:#0a0a0a;
  color:white;
}

nav{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:black;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:10px;
  padding:10px;
}

.card{
  background:#1a1a1a;
  padding:10px;
  border-radius:12px;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}